<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>EJS Template</h1>
    <p>Добро пожаловать на главную страницу!</p>
  </body>
</html>
